@charset "UTF-8"; 

@media (max-width:1400px){
.m_gnb{display:none;}    
.pd_tab ul{
    margin-left:30px;
}
.quick_w{width:95%;}
.footerInner{
    position:relative;
    width:960px;
    margin:auto;
    height:100px;
  
}  
.footerInner .logo{
    position: absolute;
    top:0; 
    left:-200px;
}



.footerInner .footiMenu ul{
    margin-left: -20px;
  }
.footerInner .footiMenu li{
    line-height: 25px;
    float:left;
    margin:0 10px; 
}

.footerInner .footiMenu li a{
    color:rgba(255, 255, 255, 0.666); 
    font-size: 14px;
 }
 .footerInner .footiMenu li a.gaein{
     color:#f85d6a;
 }
.footerInner address{
   
    font-style: normal;
    color:rgb(128, 128, 128);
    float:left;
    width:550px;
    font-size:14px;
    line-height: 25px;
    
}
.footerInner .fam{
    
    float:left;
    margin-top: -40px;;
    
    
}
header .sub ul li{
   
      
    margin-left:30px;
}
header .sub ul{
    margin-left: 60px;
  
    

}


.footerInner .sns {
   float:right;
   position: absolute;
   top:0px;
   right:-150px;

}

.footerInner .sns a{
    width:45px;
    height:45px;
    
}


.footerInner .sns a i{
    float:left;
    color:#fff;
    font-size: 30px;
}

    
}







/*1260px까지*/
@media (max-width:1260px){


    .clickbtn .btn1{
        padding:10px;
    }
    header .sub ul li ul.depth2 {
        left:420px;
    }
    header .sub ul {margin-left:0;}

    .pd_tab ul{
        
        margin-left:50px;
    }
    .pd_tab ul li{
        display:block;
        margin-left:0;
    }
   
    .suptxt{
        top:50%;
        width:200px;
    }
    .pd_tab ul li + li a:before {
        
        display:none;
    }
    .pd_tab ul li a {margin-top: 0;}
    .pd_tab ul li{
        margin-bottom:10px;
        border: 1px solid rgba(255, 255, 255, 0.534);
        padding:10px;
        text-align: center;
        border-radius:0 0 10px 0;
        
    }
    .SubpdLiInner ul{
        margin-left: 20%;;
    }
    .quick_w{width:90%;}
    .cell{
        margin:50px auto 0;
      }
     

      .footerUper_w{
          width:1400px;
      }
      .footeruper ul li{
        float:left;
        width:45%;
        height:250px;
        
    }
    .footeruper ul dd{
        flex:1;
        float:left;
        width:25%;  
    }
    .baro em{
        margin-top:10px;
        margin-left:5px;
    }
    .footerInner{
     
        width:850px;
        
      
    }  
    .footerInner .logo{
        position: absolute;
        top:0; 
        left:-150px;
    }
    
    .footerInner .footiMenu{
        margin-left: 100px;
    }
    .footerInner .footiMenu ul{
        margin-left: -20px;
      }
    .footerInner .footiMenu li{
        line-height: 25px;
        float:left;
        margin:0 10px; 
    }
    
    .footerInner .footiMenu li a{
 
        font-size: 12px;
     }
    .footerInner address{
     
        width:500px;
        font-size:12px;
        margin-left:90px;
        
    }
    .footerInner .fam{
        
        float:right;
        margin-top:-40px;
        margin-right: -100px;;
        
        
    }
    
     .footerInner .sns {
       float:right;
       position: absolute;
       top:80px;
       right:-120px;
    
    }
    
    .footerInner .sns a{
        width:45px;
        height:45px;
        
    }
    
    
    .footerInner .sns a i{
        float:left;
        color:#fff;
        font-size: 30px;
    }
    



}


@media (max-width:1200px){
    .slick-prev{
        left:6%;
    }
  
     .secondarrowLeft{
        left:5%;
        }
}


@media (max-width:1004px){
    header .sub ul li ul.depth2 {
        left:400px;}
     header .sub ul li ul.depth2 li{
            margin-top:20px;
            height:50px;
     }
     .SubpdLiInner ul{
         width:70%;
     }
     .SubpdLiInner ul li {
        margin: 150px 0 0 10px;
        width: 29%;
     }
     .suptxt{
         width:150px;
     }
     .title{
         font-size: 25px;
     }
     .bgimg{
         font-size: 30px;
     }
     .textmessege{
         bottom:7%;
         padding:20px;
     }
     .textmessege h3{
         font-size: 20px;
     }
     .textmessege p{
        font-size: 16px;
    }

     .quick_w{width:100%;
        
       }
     .part1,.part2,.part3{width:33.33%;}  
     .part1 li a {font-size: 16px;}
     .part1-1 strong{
        margin-left: 45px;
        font-size: 20px;;
     } 
     .cell{
        margin:30px auto 0;
      }
      .part2 li a{
        font-size: 16px;
      }
      .hadan{
        margin: -100px 18px  0 18px;
      }
      .footeruper ul li{
        width:33%;
      }
      .circle{
        width:80px; 
        height:80px; 
      }
      .circle i{
        font-size: 30px;
        margin-left: 22px;
      }
      dt{padding-top: 10px;
          font-size:18px}
      
      .footeritem small{font-size: 12px;}
      
      .footerInner{
     
        width:600px;
        
      
    }  
  
    
    .footerInner .footiMenu{
        margin-left: 50px;
    }
    .footerInner .footiMenu ul{
        margin-left: -20px;
      }
    .footerInner .footiMenu li{
        line-height: 25px;
        float:left;
        margin:0 10px; 
    }
    
    .footerInner .footiMenu li a{
 
        font-size: 12px;
     }
    .footerInner address{
     
        width:400px;
        font-size:12px;
        margin-left:40px;
        
    }

    }
    @media (max-width:977px){
        #gnb{display:none;}
        header .sub>div,header .sub>ul, header .sub{
            z-index: 0;
            display:none;}
            .header_in h1.logo{
               
                top:-16px;
             
             }
        .hamburger{
            z-index: 1001;
            cursor: pointer;
            display:block;
            width:50px; 
            height:50px; 
            margin-left:50px;
            margin-top:30px;
            position: relative;
          
        }
       
        #gnb>ul{display:none;}
        .btn{
            display: block;
            width:40px; 
            height:3px;
            background:rgb(0, 0, 0);
            position: absolute;
            position: relative;
            top:22px;
            left:5px;
            border-radius: 2px;
          
        }
        .btn::before,.btn::after{
            border-radius: 2px;
            display:block;
            content: "";
            width:40px; 
            height:3px;
            background:rgb(0, 0, 0);
            position: absolute;
        }
        .btn::before{
           
            top:-15px;
        }
        .btn::after{
            top:15px;
        }
        .btn.on{
            z-index: 1001;
            background:#fafafa;
            transition: 0.3s;
            
        }
        .btn.on::before{
            transform: rotate(45deg);
            margin-top:18px;
            transition: 0.3s;
            background:#ff6363;
        }
        .btn.on::after{
            transform: rotate(-45deg);
            margin-top: -12px;
            transition: 0.3s;
            background:#ff6363;
        }

        .util_menu.left{
            left:10px;
        }
        .util_menu ul li a{
            font-size: 12px;
        }



        .m_gnb{
            display:none;
            position: relative;
            z-index: 1000;
            top:-150px;
            transition: 1s;
            width:250px;
            height:100%;
            background: #ffffff;
        }
        .m_gnb ul{
            padding-top:150px;     
            padding-bottom:50px;
        }
        .m_gnb ul li{
            margin-bottom: 0px;
            padding:50px;
         border-bottom:1px solid rgba(85, 85, 85, 0.782);
        }
        .m_gnb ul li a.m_dep1{
            color:rgb(14, 14, 14);
            font-size: 18px;
        }
        .m_gnb ul li a.m_dep1:hover{
            color:rgb(245, 89, 89);
        }
        .sub {display:none;}
        .sub .info{display: none;}
        .m_dep1 .m_list{
            padding:5px;

        }
        ul.m_list{
            padding:20px 0;
            display: none;
            margin-left: -10px;
            
        }
        ul.m_list.active{
            display:block;
        }
        
        ul.m_list li{
            text-align: center;
            border-bottom:1px solid rgba(85, 85, 85, 0.782);
            margin-top: 0px;
            padding:30px;
        }
          .m_list li a{
              color:rgb(73, 73, 73);
          }  
          .m_list li a:hover{
            color:rgb(245, 89, 89);
          }
          .subHeader .sub_headiIn .sub_loc{
              top:-250px;
              left:5%
          }
          .subHeader .sub_loc p{
              font-size:15px ;
          }
          .subHeader .sub_loc strong{
              font-size:45px;
          }
          .subHeader .sub_loc small{
              font-size: 18px;
          } 
         
              .title.hh{
              top:50px;;
              font-size: 25px;;
          }

          .suptxt{
            top:30%;  
            left:10%}
          .suptxt h2{
              font-size:30px;
          }
          .suptxt p{
              font-size:16px;
              line-height: 35px;
          }
          .sub_pdListWrap{
              height:100%;
          }
          .SubpdLiInner ul{
              margin-top:60px;;
              width:100%;
             margin-left: 40%;;}
          .SubpdLiInner ul li {
              margin: 10px 0;
              width:370px;
              height:420px;
              display:block;
              float:none;
             
          } 
          .SubpdLiInner ul li .img img{
              width:65%;
          }
          .pd_tab .morebtn{
            left:50px;
          }
          .textmessege p{display:none;}
          .textmessege{bottom:10%;}
          .part3{display:none;} 
          .footeruper ul li{
              width:100%;
              float:none;
              height:150px;
          }
          .footeritem{
              margin-top: 0;}
              .footeruper ul{
                  width:800px;
                  height:300px
              }
              .footeruper ul dd{
                  text-align: center;
                  float:none;}
              .footerUper_w{width:100%}
              .footeruper ul dt {
                flex:1;  
                margin-top: 50px;
                margin-left: 50px;}
              .circle{
                  text-align: center;
                margin-top: 50px;
                margin-left:100px;}
                .circle i{margin-left: 0;}
              .baro {margin-top: 60px;}
             
           
            .footeruper{margin-bottom: 50px;}
            .footerInner{
                text-align: center;
                margin:0 auto;
                width:100%;
            }
            .footerInner .logo{
                left:50%;
                transform: translateX(-50%);
                top:-80px
            }
            .footerInner .sns{
                
                float:none;
                right:0;
                left:0; 
                top:100px;
                
               
             
            }
            .footerInner .sns ul{
                display: inline-block;
                text-align: center;
            }
          
            .footerInner .fam select {
                display:none;
            }
            .footerInner address{
                display:inline-block;
                float:none;
                width:100%;
                margin-left: 0;
               }
          
            .slick-next{
                right:6%;
                
            }
            .footerInner .footiMenu ul{}
            .footerInner .footiMenu{
                display: inline-block;
                float:none;
                margin-left: none;;}
            .secondarrowRight{
                right:5%;
            }
            .quickmenu{width:100%;
            }
            
            .part1, .part2{width:50%;} 
        } 


        @media(max-width:768px){
            .SubpdLiInner ul {
                margin-left:20%;
            }
            .quick_w{width:100%; }
            .part1, .part2{
            
                width:50%;} 
        
        .footeruper ul{
            width:100%;
           
        }
     


}
@media(max-width:670px){
    .SubpdLiInner ul{
        margin-left: 20%;
    }
    .quick_w{width:100%; }
    .part1, .part2{
    
        width:50%;} 
    .footeruper ul{
        width:100%;
       
    }
}

@media(max-width:520px){
 .up{
     display:none;
 }.hamburger{
     margin-left: 50px;
     margin-top: 50px;
 }
 .blo{display:block;}
 .slick_slider img{
    min-width:306px;
    min-height: 300px;;}

 header{height:120px;}
 .header_in h1.logo {top:-20px;}
 .subHeader .sub_loc strong{
     font-size:35px;
 }
 .subHeader .sub_loc small{font-size: 16px;;}
 .subHeader .sub_headiIn .sub_loc{
     width:390px;
     left:12%;
 }
 .pd_tab{
     width:100%; 
     height:30%;;
 }
 .pd_tab ul li{
     float:left;
     margin-left: 12px;;
 }
 .suptxt{
    width:350px; 
    top:12%;}
    .SubpdLiInner{
        width:100%;
       }
 .SubpdLiInner ul {
    text-align: center;
    margin-top:65%;; 
    margin-left:0%;}
    .SubpdLiInner ul li{
    display:inline-block;
    }
    .title.hh {left:35px;}
    .suptxt p{margin-top:0;}
    .pd_tab ul{padding:0; 
    margin-left:25px;}
    .pd_tab .morebtn{
        top:14px;
        bottom:0;
        right:0px;
        left:0;
        margin-left: 15px;
        border:1px solid rgba(255, 255, 255, 0.534);
        background: rgba(10, 10, 10, 0.608);
        padding:10px;
        position:relative;
        }
        .textmessege{width:auto;
        bottom:15px;}
        
        .part1, .part2{
        
            width:100%;} 
        .footeruper ul{
          width:100%;
           
        }
        .circle{margin-left: 0;}
        .footeruper ul dt{margin-left:0;}
        .baro{margin-left: 20px;}
       
}
@media(max-width:519px){
    .pd_tab .morebtn{
        display:none;
        }
}
@media(max-width:375px){
    .hamburger{margin-left: 25px;}
    .subHeader .sub_headiIn .sub_loc{
        width:100%;
        left:0;
        text-align: center;
    }
    .slick-prev{left:1%}
    .pd_tab ul li{margin-left:0;}
    
        .suptxt{
            top:10%;
            width:80%;
            left:25px;
            text-align: center;}
        .SubpdLiInner ul{
            margin-top: 70%;;
            margin-left: 0;
        }
        .bgimg{display:none;}
        .title{font-size: 14px;;}
        .textmessege h3{font-size: 16px;}
        .footeruper ul{
            width:100%;;}
           
            .footeruper ul li{width:100%;
            margin-left:none;}
            .footerInner{}
           
            .footerInner .footiMenu ul{margin-left: 0;}
            .footeruper ul li{height:150px;}
          
            .footerInner .footiMenu{margin:5px; margin-left: 0;}
            .footerInner .sns{ 
                top:0;float:none;position:static;
                left:0; transform: translate(0);right:0;
            } 
            .footerInner .footiMenu li {
                margin:0 3px;
            }
            .slick-next{right:1%;}
            .footeritem small{display:none;}
            .baro{margin-top: 65px;} 
            .subHeader .sub_headiIn .sub_loc ul li{padding-left:0;}

}
